<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Module Id="SSUP_merge_x86" Language="0" Version="1.0.1.0">
		<Package Id="665DE138-1CF9-41CD-A07C-D31E997E7A88" Manufacturer="Carson Shook" InstallerVersion="301" InstallScope="perMachine"/>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="MergeRedirectFolder">
				<Component Id="ModuleComponent" Guid="AA0B50E8-F81C-4DF8-A734-D78AAB767A19">
          <File Source="$(var.StupidSimpleUpdater.TargetPath)"/>
        </Component> 
			</Directory>
      <Directory Id="CommonAppDataFolder">
        <Directory Id="ApplicationDataDir" Name="StupidSimpleUpdater">
          <Component Id="ProgramDataFolderComponent" Guid="30CF56C7-340B-4F60-9E47-48681C456125">
            <CreateFolder Directory="ApplicationDataDir"/>
          </Component>
        </Directory>
      </Directory>
		</Directory>
	</Module>
</Wix>
