<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Module Id="SSUP_merge_x64" Language="0" Version="1.0.1.0">
    <Package Id="7184C8D4-8F5D-4804-A4EC-A87FBF8DC73C" Manufacturer="Carson Shook" InstallerVersion="301" InstallScope="perMachine"/>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Component Id="ModuleComponent" Guid="73C6CE2A-1FC8-48EC-AE63-48D0D2E50B44">
          <File Source="$(var.StupidSimpleUpdater.TargetPath)"/>
        </Component>
      </Directory>
      <Directory Id="CommonAppDataFolder">
        <Directory Id="ApplicationDataDir" Name="StupidSimpleUpdater">
          <Component Id="ProgramDataFolderComponent" Guid="63B28209-01D2-4CE5-B6B6-97F4A0E789A5">
            <CreateFolder Directory="ApplicationDataDir"/>
          </Component>
        </Directory>
      </Directory>
    </Directory>
  </Module>
</Wix>
